* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 200vh;
}

@import "_nav.scss";
@import "_hero.scss";
@import "_s2.scss";
@import "_s3.scss";
@import "_s4.scss";
@import "_footer.scss";