* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 200vh;
}

@import "./nav";
@import "./hero";
@import "./s2";
@import "./s3";
@import "./s4";
@import "./footer";